@use "./base.scss";

// put your custom CSS here!
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    &__item {
        border-radius: 4px;
        background-color: var(--highlight);
        padding: 1rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}